section.about
  .container
    +blockHeader("What we do", "Story about us", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellat sed animi minima, enim id accusantium consequuntur natus magnam corrupti cumque assumenda. Cumque, delectus illum veritatis totam molestiae minus aspernatur")
    .about-list
      +aboutItem("Super Team", "images/img-about1.png", "fa fa-users")
      +aboutItem("Super Team", "images/img-about2.png", "fa fa-heart")
      +aboutItem("Super Team", "images/img-about3.png", "fa fa-home")