section.people
  .container
    +blockHeader("Happy Clients", "What people say")
    ul.people-list
      li.people-item
        img.people-avatar(src="../images/img-people1.png")
        .people-info
          h3.people-name Mathew Dix
          span.people-job.text.text--light Graphic Design
          p.people-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nobis, debitis voluptates quam eaque Fugit, nobis, debitis voluptates quam eaque
      li.people-item
        img.people-avatar(src="../images/img-people2.png")
        .people-info
          h3.people-name Mathew Dix
          span.people-job.text.text--light Graphic Design
          p.people-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nobis, debitis voluptates quam eaque Fugit, nobis, debitis voluptates quam eaque
      li.people-item
        img.people-avatar(src="../images/img-people3.png")
        .people-info
          h3.people-name Mathew Dix
          span.people-job.text.text--light Graphic Design
          p.people-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nobis, debitis voluptates quam eaque Fugit, nobis, debitis voluptates quam eaque
      li.people-item
        img.people-avatar(src="../images/img-people4.png")
        .people-info
          h3.people-name Mathew Dix
          span.people-job.text.text--light Graphic Design
          p.people-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nobis, debitis voluptates quam eaque Fugit, nobis, debitis voluptates quam eaque