section.quote
  .container
    .quote-list

      .quote-item
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam et nesciunt perspiciatis dignissimos quae illum, deserunt, laboriosam distinctio architecto, fuga deleniti. Dolores impedit enim a, expedita consequatur repellendus facilis obcaecati.
          span.quote-author John Doe
      .quote-item
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam et nesciunt perspiciatis dignissimos quae illum, deserunt, laboriosam distinctio architecto, fuga deleniti. Dolores impedit enim a, expedita consequatur repellendus facilis obcaecati.
          span.quote-author John Doe
      .quote-item
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam et nesciunt perspiciatis dignissimos quae illum, deserunt, laboriosam distinctio architecto, fuga deleniti. Dolores impedit enim a, expedita consequatur repellendus facilis obcaecati.
          span.quote-author John Doe

