section.service
	.container
		+blockHeader("We work with", "Amazing services")
		.service-container
			.service-list
				+serviceItem("../images/img-service-icon1.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon2.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon3.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
			.service-list
				+serviceItem("../images/img-service-icon4.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon5.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon6.png", "photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")