section.story
  .container
    +blockHeader("Our Stories", "Latest Blog")
    ul.story-list
      li.story-item
        .story-media
          img.story-img(src="../images/img-blog1.png")
          .story-date
            span.story-date-number 15
            span.story-date-text.text.text--light Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur
        .story-desc.text
          p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iusto doloribus qui pariatur sapiente nesciunt omnis non eum consectetur, accusamus quasi adipisci fugiat, animi minima quas debitis ipsam harum ipsum!
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-number.text 542
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-number.text 17
      li.story-item
        .story-media
          img.story-img(src="../images/img-blog2.png")
          .story-date
            span.story-date-number 15
            span.story-date-text.text.text--light Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur
        .story-desc.text
          p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iusto doloribus qui pariatur sapiente nesciunt omnis non eum consectetur, accusamus quasi adipisci fugiat, animi minima quas debitis ipsam harum ipsum!
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-number.text 542
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-number.text 17
      li.story-item
        .story-media
          img.story-img(src="../images/img-blog3.png")
          .story-date
            span.story-date-number 15
            span.story-date-text.text.text--light Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur
        .story-desc.text
          p.story-desc-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iusto doloribus qui pariatur sapiente nesciunt omnis non eum consectetur, accusamus quasi adipisci fugiat, animi minima quas debitis ipsam harum ipsum!
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-number.text 542
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-number.text 17

section.map
  .container
    .map-content
      img.map-icon(src="../images/img-map-icon.png")
      h2.map-heading Open map