section.team
	.container
		+blockHeader("Who are you", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam magni consectetur commodi, temporibus molestiae amet dicta architecto, provident praesentium odit, voluptate incidunt explicabo iure ducimus exercitationem aspernatur quia repellat deleniti")
		.team-list
			+teamItem("https://i.pinimg.com/originals/56/09/53/560953a6a0c48f7c41f201a9b4ca65e7.jpg", "Bruno Fernandes", "Manchester United Midfielder ")
				+teamSocial("#bruno18", "#", "#")
			+teamItem("https://i.pinimg.com/originals/89/82/fd/8982fd624c5bf9cb990cd3f9164f326b.jpg", "Edinson Cavani", "Manchester United Striker")
				+teamSocial("#cavani7", "#", "#")
			+teamItem("https://pbs.twimg.com/media/Ct8EpkUXYAE8cye.jpg", "Luke Shaw", "Manchester United Defender")
				+teamSocial("#shaw223", "#", "#")
section.brand
	.container
		img(src="./images/img-logos.png" alt="brand")