section.work
  .container
    +blockHeader("What we do", "Some of our work", "Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.")
  .work-list
    .work-column
      .work-item
        img.work-image(src="https://cdn-img.thethao247.vn/storage/files/vandat/2021/04/16/truc-tiep-mu-1-0-granada-the-tran-coi-mo-37067.jpg")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed
          span.work-desc.text.text--light Lorem ipsumor lipsum as
      .work-item
        img.work-image(src="https://static01.nyt.com/images/2020/12/20/sports/20onsoccer1/merlin_181491138_64a5e591-2350-4662-8a75-20cc39e670a8-articleLarge.jpg?quality=75&auto=webp&disable=upscale")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed
          span.work-desc.text.text--light Lorem ipsumor lipsum as
    .work-column
      .work-item
        img.work-image(src="https://setanmerah.net/wp-content/uploads/2020/12/psg-1.jpg")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed
          span.work-desc.text.text--light Lorem ipsumor lipsum as
      .work-item
        img.work-image(src="https://phapluatxahoi.vn/stores/news_dataimages/caokyplxh/042021/05/17/in_article/2528_156.jpg?rt=20210405172531")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed
          span.work-desc.text.text--light Lorem ipsumor lipsum as
    .work-column
      .work-item.work-item--full
        img.work-image(src="https://i2-prod.manchestereveningnews.co.uk/incoming/article20454564.ece/ALTERNATES/s1200c/0_GettyImages-1313133594.jpg")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Ole Gunnar Solskjaer
          span.work-desc.text.text--light Lorem ipsumor lipsum as
    .work-column
      .work-item
        img.work-image(src="https://cdn-2.tstatic.net/jogja/foto/bank/images2/jam-tayang-liga-inggris-malam-ini-penentuan-mu-chelsea-leicester-villa-watford-dan-bournemouth.jpg")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title CaptainCaptainCaptainCaptainCaptainCaptainCaptainCaptainCaptain
          span.work-desc.text.text--light Lorem ipsumor lipsum as
      .work-item
        img.work-image(src="https://i.inews.co.uk/content/uploads/2020/10/PRI_169379780-760x507.jpg")
        .work-content
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed
          span.work-desc.text.text--light Lorem ipsumor lipsum as