.number {
  background-color: $third-color;

  &-list {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  &-item {
    width: 20%;
    color: #fff;
    padding: 8.5rem 3.5rem;
    text-align: center;
    border-left: 1px solid #fff;
    text-transform: uppercase;

    &:last-child {
      border-right: 1px solid #fff;
    }

    &-count {
      font-size: 7.2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    &-text {
      line-height: 1.4;
    }
  }

  @include maxWidth(1023px) {
    &-item {
      padding: 5rem 1.5rem;

      &-count {
        font-size: 5.2rem;
        margin-bottom: 1rem;
      }

      &-text {
        font-size: 1.4rem;
      }
    }
  }

  @include maxWidth(767px) {
    &-list {
      display: block;
    }
    &-item {
      width: 100%;
      border-left: 0;
      padding: 2.5rem 1.5rem;

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
