// Đặt các class sử dụng chung

.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}

.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-header {
  text-align: center;
  width: 100%;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;

  &-caption {
    font-family: $third-font;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  &-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    position: relative;

    &::after {
      content: "";
      @include absoluteCenter("left");
      bottom: 0;
      width: 6.5rem;
      height: 4px;
      background-color: $primary-color;
    }
  }

  &-desc {
    font-size: 1.5rem;
    font-family: $secondary-font;
    color: $text-color;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 10rem;
  }

  @include maxWidth(767px) {
    &-caption {
      font-size: 2rem;
    }

    &-title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
    }

    &-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
  }
}
